<header class="w-full container mx-auto">
        <div class="flex flex-col items-center py-12">
            <h1 class="font-bold text-gray-800 uppercase hover:text-gray-700 text-5xl" href="#">
                Nice to Meet You!
            </h1>
            <p class="text-lg text-gray-600">
                Please enter your credentials or create an account.
            </p>
        </div>
    </header>

    <!--login form-->
    <div class="login-form font-family-karla">
        <form>
            <label for="email"><b>Email</b></label>
            <input type="text" placeholder="Enter Email" name="email" required>

            <label for="psw"><b>Password</b></label>
            <input type="password" placeholder="Enter Password" name="psw" required>

            <label for="psw-repeat"><b>Repeat Password</b></label>
            <input type="password" placeholder="Repeat Password" name="psw-repeat" required>
      
            <label>
            <input type="checkbox" checked="checked" name="remember" style="margin-bottom:15px"> Remember me
            </label>

            <p>By creating an account you agree to our <a href="#" style="color:dodgerblue">Terms & Privacy</a>.</p>

            <button type="submit" class="signupbtn">Sign Up</button>

            <p>Already have an account? <a href="#" style="color:dodgerblue">Log in!</a></p>
        </form>
    </div>