<!-- Text Header -->
<header class="w-full container mx-auto">
    <div class="flex flex-col items-center py-12">
        <a class="font-bold text-gray-800 uppercase hover:text-gray-700 text-5xl" href="#">
            Upcoming Events
        </a>
        <p class="text-lg text-gray-600">
            Events in your area
        </p>
    </div>
</header>
{{#each events as |event| }}
<div class="container mx-auto flex flex-wrap py-6">
    <section class="w-full md:w-2/3 flex flex-col items-center px-3">

        <article class="flex flex-col shadow my-4">
            <div class="bg-white flex flex-col justify-start p-6">
                <a href="#" class="text-blue-700 text-sm font-bold uppercase pb-4">Event header</a>
                <a href="#" class="text-3xl font-bold hover:text-gray-700 pb-4">{{event.title}}</a>
                <p href="#" class="text-sm pb-3">
                    Hosted by {{event.user.username}}
                </p>
                <a href="#" class="pb-6">{{event.description}}</a>
            </div>
        </article>

    </section>
</div>
{{/each}}

</div>
</body>