<!--login form-->
<div class="login-form font-family-karla">
    <form>
        <label for="email-login"><b>Email</b></label>
        <input type="text" placeholder="Enter email" name="email-login" id="email-login" required>
        <label for="password-login"><b>Password</b></label>
        <input type="password" placeholder="Enter Password" name="password-login" id="password-login" required>
        <button type="submit">Login</button>
        <label>
            <input type="checkbox" checked="checked" name="remember"> Remember me
        </label>
        <span class="forgot-psw">Forgot <a href="#">password?</a></span>
        <label for="create-account">Don't have an account? <button class="create-account">Sign up!</button></label>
        <!--button up there needs functionality-->
    </form>
</div>

<script src="/js/login.js"></script>