<div class="container">
    {{#each results as |result| }}

    <div class="container mx-auto flex flex-wrap py-6">
        <section class="w-full md:w-2/3 flex flex-col items-center px-3">

            <article class="flex flex-col shadow my-4">
                <div class="bg-white flex flex-col justify-start p-6">
                    <a href="#" class="text-blue-700 text-sm font-bold uppercase pb-4"></a>
                    <a href="#" class="text-3xl font-bold hover:text-gray-700 pb-4">{{name}}</a>
                    <a href="#" class="pb-6">Price level: {{price_level}}</a>
                    <a href="#" class="pb-6">Rating: {{rating}}</a>
                </div>
            </article>

        </section>
    </div>
    {{/each}}
</div>
</div>