<div class="bg-no-repeat bg-cover bg-center bg-fixed" style="background-image: url('/images/dish-background-2.jpg');">

  <div class="grid h-screen place-items-center">

    <section class="overflow-hidden text-gray-700">
      <div class="container px-5 py-2 mx-auto lg:pt-12 lg:px-32">
        <div class="flex flex-wrap -m-1 md:-m-2">
          {{#each results as |result| }}
          <div class="flex flex-wrap w-1/3 bg-black opacity-50 rounded-xl mr-1 mb-1">
            <div class="w-full p-1 md:p-2">
              <h2 class="font-bold text-white"> {{name}}</h2>
              <p class="text-white"> Price level: {{price_level}}</p>
              <p class="text-white"> Rating: {{rating}}</p>
            </div>
          </div>
          {{/each}}
        </div>
      </div>
    </section>
  </div>
</div>